@charset "UTF-8";

@font-face {
    src: url(../fonts/OCRB.ttf);
    font-family: "OCR B Regular";
}

* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    max-width:960px;
    margin: auto;
    font-family: monospace;
    font-size: 1em;
}

header {
    border-bottom: 2px solid red;
    font-family: "OCR B Regular";
}

main {
    padding: 15px;
}

table {
    border-collapse: collapse;
    width: 100%;
    max-width: 960px;
}

th, td {
    border: 1px solid white;
    background: #ddd;
    padding: 4px;
}


li {
    list-style-type: none;
    color: #777;
    margin: auto;
}

h1 {
    font-size: 1.2em;
}

h3 {
    margin-top: 15px;
}

a {
    /*text-decoration: none;*/
    /*color: inherit;*/
}

a:hover {
    color: red;
}

